* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
	font-family: "MesloLGS NF", monospace;
  font-weight: 600;
  font-size: 12.7px;
}

window#waybar {
  background: rgba(25, 25, 25, 0.65);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 24px;
	padding-left: 12px;
	padding-right: 20px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background:  rgba(200, 200, 200, 0.3);
	color: white;
}

#workspaces {
  background: rgba(25, 25, 25, 0.65);
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: white;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: white;
  background-color: rgba(200, 200, 200, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: white;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: white;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 15px;
  opacity: 0.7;
}


#taskbar button {
	min-width: 130px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	margin-left: 2px;
	margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
  background: rgba(100, 100, 100, 0.5);
}

#taskbar button:hover {
	border-bottom: 3px solid white;
  background: rgba(200, 200, 200, 0.3);
	color: white;
}

#pulseaudio {
  background-color: rgba(100, 100, 100, 0.5);
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#pulseaudio.muted {
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
}

#network {
  background-color: rgba(100, 100, 100, 0.5);
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#network.ethernet {
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
}

#disk,
#memory,
#cpu,
#language {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: white;
}

#language {
  margin-right: 10px;
}

#custom-notification {
  margin: 0px 12px 0px 12px;
  padding: 0px;
  font-size: 20px;
  color: white;
  opacity: 0.8;
}

#clock {
  background-color: rgba(200, 200, 200, 0.3);
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 3px 0px 3px 0px;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

#custom-system {
  margin: 0px 2px 0px 2px;
  font-size: 20px;
  color: white;
}

#tray {
  padding: 0px 2px 0px 10px;
}
